body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.add_container {
    height: 100%;
    margin: 0;
    background-color: #FFF;

    .add_content {
        overflow-y: scroll;
        height: 100vh;

        .main_pane_container {
            background: #F8F8F8;

            .main_pane_content {
                height: 100%;
                width: 100%;
                padding-bottom: 3rem;

                .hashtag_pane {
                    background: #FFFFFF;
                    border: 0.063rem solid rgba(0, 0, 0, 0.2);
                    border-radius: 0.313rem;
                    padding: 1rem;
                    margin-top: 2rem;

                    Label {
                        margin: 0.5rem 1rem;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.7);
                    }

                    .form {
                        margin: 0.5rem 1rem;

                        Input {
                            background: #FFFFFF;
                            border: 0.063rem solid rgba(0, 0, 0, 0.5);
                            border-radius: 0.313rem;
                            box-sizing: border-box;
                            height: 2.25rem;
                            margin-top: 0.5rem;
                            margin-bottom: 0.5rem;
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 0.875rem;
                            line-height: 1.188rem;
                            color: rgba(0, 0, 0, 0.4);
                            padding-left: 0.75rem;
                        }
                    }

                    .btn_pane {
                        margin: 0.5rem 1rem;
                    }

                    Button {
                        background: #7662DC;
                        border-radius: 0.188rem;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.75rem;
                        line-height: 1rem;
                        text-align: center;
                        color: #FFFFFF;
                        min-width: 8rem;
                        height: 2.25rem;
                        margin-top: 1rem;
                    }
                }

                .csv_pane {
                    background: #FFFFFF;
                    border: 0.063rem solid rgba(0, 0, 0, 0.2);
                    border-radius: 0.313rem;
                    padding: 1rem;
                    margin-top: 2rem;

                    .btn_pane {
                        margin: 0.5rem 1rem;
                    }

                    Button {
                        background: #7662DC;
                        border-radius: 0.188rem;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.75rem;
                        line-height: 1rem;
                        text-align: center;
                        color: #FFFFFF;
                        min-width: 8rem;
                        height: 2.25rem;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}


.col-lg-2 {
    @media (min-width: 992px) {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 12.666667%;
    }
}

// .col-md-2 {
//     @media (min-width: 768px) {
//         -ms-flex: 0 0 16.666667%;
//         flex: 0 0 16.666667%;
//         max-width: 12.666667%;
//     }
// }

// .col-sm-2 {
//     @media (min-width: 576px) {
//         -ms-flex: 0 0 16.666667%;
//         flex: 0 0 16.666667%;
//         max-width: 12.666667%;
//     }
// }

.col-lg-10 {
    @media (min-width: 992px) {
        -ms-flex: 0 0 87.333333%;
        flex: 0 0 87.333333%;
        max-width: 87.333333%;
    }
}

// .col-md-10 {
//     @media (min-width: 768px) {
//         -ms-flex: 0 0 87.333333%;
//         flex: 0 0 87.333333%;
//         max-width: 87.333333%;
//     }
// }

// .col-sm-10 {
//     @media (min-width: 576px) {
//         -ms-flex: 0 0 87.333333%;
//         flex: 0 0 87.333333%;
//         max-width: 87.333333%;
//     }
// }

.inline_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // .lds-ring {
    //     height: 2rem;
    //     width: 2rem;

    //     div {
    //         height: 2rem;
    //         width: 2rem;
    //     }
    // }
}