body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.topbar {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 0.063rem solid rgba(0, 0, 0, 0.2);
    min-height: 4rem;

    .page_title,
    .page_title_compared {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-left: 2rem;
        // padding-top: 16px;

        color: #000000;

        .tab_text {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.375rem;
            color: #4D38B9;
            text-decoration: none;

        }
    }

    .page_title_compared {
        padding-top: 1rem;
    }

    .topbar_help_icon {
        margin-right: 1rem;
        display: flex;
    }

    .topbar_user_icon {
        height: 1.5rem;
    }

    .topbar_username {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        text-transform: capitalize;
        line-height: 1rem;
        color: rgba(0, 0, 0, 0.7);

    }


}

.dropdown {
    background: #FFFFFF;
    border: 0.063rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.313rem;
    position: absolute;
    top: 7%;
    right: 4%;
    z-index: 9999;
    max-width: 12rem;
    width: 12rem;
    max-height: 10rem;
    padding: 1rem;
    cursor: pointer;

    .dropdown_title {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.188rem;
        color: rgba(0, 0, 0, 0.7);
    }
}